# Spector and Mazzeo (1980) - Program Effectiveness Data

* Number of Observations - 32
* Number of Variables - 4
* Variable name definitions:
  * Grade - binary variable indicating whether or not a student's grads improved.  1 indicates an improvement.
  * TUCE  - Test score on economics test
  * PSI   - participation in program
  * GPA   - Student's grade point average
  

  https://pages.stern.nyu.edu/~wgreene/Text/econometricanalysis.htm

In [2]:
import statsmodels.api as sm

In [3]:
spector_data = sm.datasets.spector.load_pandas()
spector_data.exog = sm.add_constant(spector_data.exog)

In [4]:
spector_data.exog

    const   GPA  TUCE  PSI
0     1.0  2.66  20.0  0.0
1     1.0  2.89  22.0  0.0
2     1.0  3.28  24.0  0.0
3     1.0  2.92  12.0  0.0
4     1.0  4.00  21.0  0.0
5     1.0  2.86  17.0  0.0
6     1.0  2.76  17.0  0.0
7     1.0  2.87  21.0  0.0
8     1.0  3.03  25.0  0.0
9     1.0  3.92  29.0  0.0
10    1.0  2.63  20.0  0.0
11    1.0  3.32  23.0  0.0
12    1.0  3.57  23.0  0.0
13    1.0  3.26  25.0  0.0
14    1.0  3.53  26.0  0.0
15    1.0  2.74  19.0  0.0
16    1.0  2.75  25.0  0.0
17    1.0  2.83  19.0  0.0
18    1.0  3.12  23.0  1.0
19    1.0  3.16  25.0  1.0
20    1.0  2.06  22.0  1.0
21    1.0  3.62  28.0  1.0
22    1.0  2.89  14.0  1.0
23    1.0  3.51  26.0  1.0
24    1.0  3.54  24.0  1.0
25    1.0  2.83  27.0  1.0
26    1.0  3.39  17.0  1.0
27    1.0  2.67  24.0  1.0
28    1.0  3.65  21.0  1.0
29    1.0  4.00  23.0  1.0
30    1.0  3.10  21.0  1.0
31    1.0  2.39  19.0  1.0

In [10]:
spector_data.exog

    const   GPA  TUCE  PSI
0     1.0  2.66  20.0  0.0
1     1.0  2.89  22.0  0.0
2     1.0  3.28  24.0  0.0
3     1.0  2.92  12.0  0.0
4     1.0  4.00  21.0  0.0
5     1.0  2.86  17.0  0.0
6     1.0  2.76  17.0  0.0
7     1.0  2.87  21.0  0.0
8     1.0  3.03  25.0  0.0
9     1.0  3.92  29.0  0.0
10    1.0  2.63  20.0  0.0
11    1.0  3.32  23.0  0.0
12    1.0  3.57  23.0  0.0
13    1.0  3.26  25.0  0.0
14    1.0  3.53  26.0  0.0
15    1.0  2.74  19.0  0.0
16    1.0  2.75  25.0  0.0
17    1.0  2.83  19.0  0.0
18    1.0  3.12  23.0  1.0
19    1.0  3.16  25.0  1.0
20    1.0  2.06  22.0  1.0
21    1.0  3.62  28.0  1.0
22    1.0  2.89  14.0  1.0
23    1.0  3.51  26.0  1.0
24    1.0  3.54  24.0  1.0
25    1.0  2.83  27.0  1.0
26    1.0  3.39  17.0  1.0
27    1.0  2.67  24.0  1.0
28    1.0  3.65  21.0  1.0
29    1.0  4.00  23.0  1.0
30    1.0  3.10  21.0  1.0
31    1.0  2.39  19.0  1.0

In [12]:
spector_data.endog

0     0.0
1     0.0
2     0.0
3     0.0
4     1.0
5     0.0
6     0.0
7     0.0
8     0.0
9     1.0
10    0.0
11    0.0
12    0.0
13    1.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    1.0
20    0.0
21    1.0
22    0.0
23    0.0
24    1.0
25    1.0
26    1.0
27    0.0
28    1.0
29    1.0
30    0.0
31    1.0
Name: GRADE, dtype: float64

In [13]:
logit_mod = sm.Logit(spector_data.endog, spector_data.exog)

In [15]:
logit_res = logit_mod.fit()

Optimization terminated successfully.
         Current function value: 0.402801
         Iterations 7

In [16]:
logit_res.summary().tables[0]

In [17]:
logit_res.summary().tables[1]